/*to navigate faster, feel free stop press ctrl + fieldset command type thead font-face-name color-profile thead page you area looking for : Home, Review, Car...
*/

html, pre, label {
    font-size: 14px;
    font-family: '';
    position: relative;
    color: #1D100B;
}

@media (min-width: 767px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fcfcfc;
    color: #1D100B;
    display: flex;
    flex-direction: column !important;
    height: 100%;
}


.body *{
    width:100%;
}

main {
    position: relative;
}

.main-container {
    min-width: 95% !important;
}

section {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "oswald";
}

h2 {
    font-size: 26px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

    h2:before {
        content: '';
        display: block;
        border: 1px solid #1D100B !important;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

a {
    color: #1D100B;
}

q {
    font-style: italic;
    text-align: justify;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px
}

.bi-star-fill, .bi-star {
    color: #F9C611;
    font-size: 16px;
}

input, select, textarea {
    background-color: #fcfcfc !important;
    border: 1px solid #1175A7 !important;
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #0D5B82 !important;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

.form-check-label {
    font-weight: normal !important;
}

.send {
    color: #fcfcfc;
    background-color: #0D5B82;
    border: 1px solid #1D100B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 10px;
    float: right
}

.delete {
    text-decoration: none;
    color: #fcfcfc;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    z-index: 1;
    position: relative;
    font-size: 14px;
    border: 1px solid #1D100B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #BE0C0C;
    text-align: center;
    vertical-align: middle;
}

.return-index {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0D5B82;
    border: 1px solid #1D100B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fcfcfc;
    padding: 5px;
    padding: 1px 6px;
}

    .return-index:hover {
        color: #fcfcfc;
    }


@media (max-width: 767px) {
    .return-index {
        position: relative;
    }

    .return-index-div {
        display: flex;
        justify-content: end;
    }
}
/*NAVBAR STYLE CSS*/
@media (max-width: 575px) {
    .imageHeaderContainer {
        display: none;
    }
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    text-align: center;
}

navbar {
    color: #fcfcfc;
    margin-bottom: 0px;
}

.logo {
    width: 70px;
    height: 70px;
}

.nav-link, .dropdown-item {
    color: #0D5B82;
    font-size: 16px;
    margin-right: 5px;
}

.dropdown-toggle {
    display: -webkit-inline-box;
    color: #0D5B82 !important;
}

.custom-toggler.navbar-toggler {
    border-color: #0D5B82;
}

.nav-link:hover, .dropdown-item:hover {
    transition: color 0.2s;
    transform: scale(1.03);
    color: #0D5B82;
    background-color: inherit;
}

.nav-link.active {
    text-decoration: underline;
}

.imageHeaderContainer {
    height: 150px;
    width: 100%;
}

.imageHeader {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.number-review-to-accept {
    background-color: rgba(192, 12, 12, .60);
    color: #fcfcfc;
    margin: unset;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
    text-align: center;
    vertical-align: middle
}

/*FOOTER STYLE CSS*/
footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(13, 91, 130, 0.1);
}

.hours-footer {
    border: 1px solid #1D100B;
    padding: 2px;
    margin: 5px;
}

.footer-underline {
    text-decoration: none;
}

    .footer-underline:after {
        content: '';
        display: block;
        border: 0.5px solid #1D100B;
        width: 70%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
    }

footer h3 {
    text-decoration: underline
}

.contact-footer > p > a {
    text-decoration: none;
    color: #1D100B;
}

.garage-footer-min {
    display: none;
}

@media (max-width:767px) {
    .garage-footer {
        display: none;
    }

    .garage-footer-min {
        display: block;
        margin-top: 20px;
    }
}

/*HOMEPAGE STYLE CSS*/

/*SERVICE SECTION CSS STYLE */

.image-service-container {
    grid-area: image;
}

.service-div {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
        "image text";
}

    .service-div:nth-child(odd) {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "text image";
    }

@media (max-width: 767px) {
    .service-div {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-areas:
            "text";
    }

    .image-service-container {
        display: none;
    }

}

@media (max-width: 992px) {
    .service-div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "image text";
    }

        .service-div:nth-child(odd) {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "text image";
        }
}

.service-text {
    align-items: center;
    position: relative;
    grid-area: text;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

    .service-text:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-top: 2px solid #0D5B82;
        border-right: 2px solid #0D5B82;
        width: 30%;
        height: 40%;
    }

    .service-text h3 {
        text-decoration: underline;
    }

.image-service-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-text > p {
    text-align: justify;
}

    .service-div:nth-child(odd) .service-text:after {
        right: auto;
        left: 0;
        border-right: none;
        border-left: 2px solid #0D5B82;
    }

    .service-div:nth-child(odd) > .service-text {
        align-items: center;
        position: relative;
        grid-area: text;
        padding-right: 10px;
        padding-left: 30px;
        padding-top: 10px;
    }

.service-text {
    display: grid;
}

/*SECTION REVIEWS STYLE CSS*/
.card-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;
}

.reviews {
    background-color: #0D5B82;
}

    .reviews h2 {
        color: #fcfcfc;
        font-family: 'oswald';
    }

        .reviews h2:before {
            content: '';
            display: block;
            border: 1px solid #fcfcfc !important;
            width: 30%;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }

.card-review {
    background-color: #fcfcfc;
}

.card-header {
    background-color: #fcfcfc;
    border: none;
}

.card-body {
    flex-direction: column;
    justify-content: space-between;
    text-indent: 1rem;
    background-color: #fcfcfc;
}

    .card-body > p {
        margin-top: 1rem;
    }

.owl-dot span {
    background-color: #fcfcfc !important;
}

.owl-dot.active span {
    background-color: #F9C611 !important;
}

.carousel .owl-next, .carousel .owl-prev {
    color: #0D5B82 !important;
    font-size: 50px !important;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30%;
    opacity: 0.5
}

.owl-nav button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;
}

    .owl-nav button:hover {
        background: #0D5B82 !important;
        color: #fcfcfc !important;
        transition: 0.5s;
    }

    .owl-nav button span {
        position: absolute;
        width: 40px;
        height: 90px;
    }

.carousel .owl-next {
    right: 0px;
}

.carousel .owl-prev {
    left: 0px;
}

.review-link h3 {
    color: #fcfcfc;
    text-decoration: underline
}

/*CONTACT-FORM SECTION CSS STYLE */

.tempdata-form {
    font-size: inherit;
    text-decoration: underline;
}

.contact-text {
    background-color: #0D5B82;
    color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: calc(100%/3);
}

.form {
    border: 2px solid #0D5B82;
}

.form-contacts > *, .form-names > * {
    width: 48%;
}

.contact-form {
    padding: 8px;
}

@media (max-width:767px) {
    .contact-text {
        width: 100%;
        background-color: #fcfcfc;
        color: #1D100B;
    }

    .form {
        width: 100%;
        background-color: #0D5B82;
    }

        .form label {
            color: #fcfcfc;
        }

        .form button {
            background-color: #fcfcfc;
            color: #0D5B82;
        }

    .tempdata-form {
        color: #fcfcfc;
        font-weight: bold;
        font-size: inherit;
        text-decoration: underline;
    }
}

/*REVIEWS INDEX STYLE PAGE*/

.cards-review {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width:992px) {
    .cards-review {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:767px) {
    .cards-review {
        grid-template-columns: 1fr 1fr;
    }
}

.cards-review .card-review {
    height: 100%;
    border: none;
    position: relative;
    padding: 10px;
}

    .cards-review .card-review:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 2px solid #0D5B82;
        border-right: 2px solid #0D5B82;
        width: 40%;
        height: 40%;
    }



.card-buttons {
    text-align: end;
}

.review-edit-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.create-review {
    color: #0D5B82;
    text-decoration: none;
    margin: 30px;
    background-color: #fcfcfc;
    border: 2px solid #0D5B82;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

    .create-review h2 {
        font-size: 20px !important;
    }

    .create-review:hover {
        color: #0D5B82;
    }

    .create-review h2:before {
        all: unset;
    }

/*CREATE REVIEW STYLE PAGE*/

.review-name-rating {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
        "name rating";
    align-items: center;
}

.review-name {
    grid-area: name;
    margin-right: 20px;
}

.review-rating {
    grid-area: rating;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

    .review-rating .bi-star-fill, .review-rating .bi-star {
        font-size: 25px;
    }


.stars:hover {
    cursor: pointer;
}

/*DELETE MODAL STYLE CSS*/

.modal-footer button {
    text-decoration: none;
    background-color: #0D5B82;
    color: #fcfcfc;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    z-index: 1;
    position: relative;
    border-radius: 0px;
    border: 2px solid #1D100B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

.modal-footer .button-close {
    background-color: #fcfcfc !important;
    color: #0D5B82 !important;
}

.modal-header {
    background-color: #0D5B82 !important;
    color: #fcfcfc !important;
    font-family: "oswald";
}

.modal-body, .modal-footer {
    font-family: 'Source Serif Pro';
}

.button-submit:hover {
    color: #fcfcfc;
}

/*VALIDATE REVIEW STYLE CSS*/

.review-subtitle {
    text-decoration: underline;
    color: #0D5B82;
}

.review-validate-checkbox input:hover {
    cursor: pointer;
}

.review-grid-body div {
    margin-right: 3px;
    margin-left: 3px;
}

.review-grid-body, .review-grid-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 0.5fr 1.5fr;
    grid-template-rows: minmax(50px, auto);
    text-align: center;
    align-items: center
}

.review-validate-description {
    text-align: left;
}

.reviews-grid h4 {
    font-family: 'oswald';
    font-weight: bold;
}

.review-grid-header {
    text-align: center;
    align-items: center
}

@media (max-width:992px) {
    .review-validate-buttons {
        display: grid;
        justify-items: center;
        gap: 5px;
    }

        .review-validate-buttons button {
            margin: unset !important;
        }
}

    @media (max-width:575px) {
        .review-validate-description {
            text-align: center;
        }

        .review-validate-name{
            grid-area: name;
        }

        .review-validate-description {
            grid-area: description;
        }

        .review-validate-rating {
            grid-area: rating;
        }

        .review-validate-checkbox{
            grid-area: checkbox;
        }

        .review-validate-buttons{
            grid-area:buttons;
        }

        .review-grid-body {
            text-align: center;
            display: grid;
            align-items: center;
            row-gap: 15px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                " name description description"
                "rating checkbox buttons";
        }

        .review-grid-header {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    
.reviews-grid .send {
    float: unset;
    vertical-align: middle;
    margin-right: 10px;
}



/*CAR MANAGEMENT STYLE CSS*/
.car-grid-body, .car-grid-header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 1fr;
    text-align: center;
    align-items: center;
    grid-template-rows: auto;
}

.car-management-image {
    height: auto;
}

.car-list-image {
    max-height: 100px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.car-grid-body div {
    margin-right: 3px;
    margin-left: 3px;
}

.car-grid h4 {
    font-family: 'oswald';
    font-weight: bold;
}

.car-grid-header {
    text-align: center;
    align-items: center
}

@media (max-width:767px) {
    .car-validate-buttons {
        display: grid;
        justify-items: center;
        gap: 10px;
    }

        .car-validate-buttons button {
            margin: unset !important;
        }
}

.car-grid .send {
    float: unset;
    vertical-align: middle;
    margin-right: 10px;
}

.car-validate-buttons a {
    text-decoration: none;
    color: #fcfcfc;
}

.search-btn {
    float: unset;
}

.search-input {
    width: auto;
    height: max-content;
    padding: 5px;
}

@media (max-width: 575px) {

    .car-management-brand {
        grid-area: car-brand;
    }

    .car-management-year {
        grid-area: car-year;
    }

    .car-management-km {
        grid-area: car-km;
    }

    .car-management-image {
        grid-area: car-image;
    }

    .car-validate-buttons {
        grid-area: car-buttons;
    }

    .car-grid-header {
        grid-template-columns: repeat(5, 1fr);
    }

    .car-grid-body {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 10px;
        grid-template-areas:
            "car-brand car-brand car-year car-km"
            "car-image car-image car-buttons car-buttons";
    }

    .car-list-image {
        max-height: 150px;
    }
}

/*CAR CREATE UPDATE STYLE CSS*/
.car-create-update-form {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.car-options {
    grid-template-columns: 1fr 1fr;
}

.car-create-update-form h4 {
    margin-top: revert;
    text-decoration: underline;
    font-weight: bold;
}

@media (max-width: 575px) {
    .car-create-update-form {
        grid-template-columns: 1fr;
        gap: unset;
    }
}

.car-create-update .send {
    margin-bottom: 20px;
    margin-top: auto;
}

/*SERVICE INDEX STYLE CSS */

.service-grid .d-grid {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    text-align: start;
    align-items: center;
}

.service-grid-title {
    text-align: center;
}

@media (max-width: 767px) {
    .service-grid {
        margin-top: 14px;
    }
}

.service-list-image {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.service-grid-body div {
    margin-right: 3px;
    margin-left: 3px;
}

.service-grid h4 {
    font-family: 'oswald';
    font-weight: bold;
}

.service-grid-header {
    text-align: center;
    align-items: center
}

@media (max-width:767px) {
    .service-validate-buttons {
        display: flex;
        justify-content: space-around;
    }

    .service-grid-description {
        text-align: center;
    }


    .service-grid .send {
        margin-right: 0px;
    }

    .service-grid .service-grid-body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas:
            ".service-grid-title"
            ".service-management-description"
            ".service-grid-title .service-validate-buttons";
    }
}

.service-grid .send {
    float: unset;
    vertical-align: middle;
    margin-right: 10px;
}

.service-validate-buttons a {
    text-decoration: none;
    color: #fcfcfc;
}

/* ACCOUNT INDEX CREATE UPDATE STYLE*/

.account-grid-header, .account-grid-body {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .account-grid {
        margin-top: 14px;
    }
}

.account-grid-body div {
    margin-right: 3px;
    margin-left: 3px;
}

.account-grid h4 {
    font-family: 'oswald';
    font-weight: bold;
}

.account-grid-header {
    text-align: center;
    align-items: center
}

@media (max-width:767px) {
    .account-validate-buttons {
        display: grid;
        justify-items: center;
        gap: 10px;
    }

        .account-validate-buttons button {
            margin: unset !important;
        }
}

.account-grid .send {
    float: unset;
    vertical-align: middle;
    margin-right: 10px;
}

.account-validate-buttons a {
    text-decoration: none;
    color: #fcfcfc;
}

@media (max-width:767px) {
    .account-grid-header, .account-grid-body {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
    }
}

/* ACCOUNT EDIT STYLE*/

.password-modify {
    margin-bottom: unset;
}

.password-modify-line {
    color: #1D100B
}

/*CAR INDEX STYLE CSS*/
.cars-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width:992px) {
    .cars-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:767px) {
    .cars-cards {
        grid-template-columns: 1fr 1fr;
    }
}

.car-image-container {
    width: 100%;
    height: 120px;
}

.car-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.car-card-body {
    padding-top: unset;
    padding: 10px;
}

    .car-card-body > * {
        text-indent: initial;
        margin-bottom: unset;
    }

    .car-card-body p {
        margin-top: unset;
    }

    .car-card-body h3 {
        font-size: 18px;
        font-weight: 600;
    }

    .car-card-body h4 {
        font-size: 14px;
    }

.car-card-price {
    text-align: end;
    color: #0D5B82;
    font-size: 20px;
}

.see-more {
    color: #1175A7;
    text-decoration-line: underline;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .see-more:hover {
        color: #0D5B82;
    }

.car-card {
    border: unset;
}

    .car-card:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 2px solid #0D5B82;
        border-right: 2px solid #0D5B82;
        width: 40%;
        height: 40%;
    }


/* FILTER SECTION STYLE CSS*/

aside {
    border: 1px solid #0D5B82;
    padding: 10px;
    float: left;
    width: 25%;
    margin-right: 10px;
}

.filter:before {
    all: unset;
}

.filters h3 {
    font-family: 'source serif pro';
}

.filters h4 {
    margin-bottom: unset;
    font-size: 14px;
}

.box-filter:before {
    content: '';
    display: block;
    border: 1px solid #0D5B82 !important;
    width: 100%;
}

.box-filter {
    margin-bottom: 10px;
}

.filter-box-open {
    border: 1px solid #1D100B;
    padding: 4px;
}

.limited-height {
    max-height: 94px;
    overflow-y: auto;
}

.km-filter .filter-box-open, .price-filter .filter-box-open, .year-filter .filter-box-open {
    border: none;
}

.filter-box-open {
    display: block;
}

.filter-box-close {
    display: none;
}

.filter-box-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .filter-box-item label, .filter-box-item input {
        margin-top: unset;
    }

    .filter-box-item label {
        font-weight: normal;
    }

.bi-chevron-down, .bi-chevron-up {
    color: #1D100B;
    font-size: 20px;
    font-weight: bold;
}

.bi-chevron-down {
    display: none;
}

    .bi-chevron-down:hover, .bi-chevron-up:hover {
        cursor: pointer;
    }

.filter-filter > .filter-box-open {
    border: unset;
    padding: unset;
}

.list-car-contactform {
    clear: both;
}

.main-filter-buttons i {
    display: none;
}

@media (max-width: 767px) {
    .car-cards-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    aside {
        float: none;
        width: 100%;
        margin-right: unset;
    }

    .bi-chevron-down {
        display: block;
    }

    .bi-chevron-up {
        display: none;
    }

    .main-filter-buttons .bi-chevron-down {
        display: block;
    }

    .filters {
        margin-bottom: 14px;
    }
}

.error {
    display: none;
    margin-top: 5px;
    margin-bottom: 0;
    color: #BE0C0C;
}

.number:invalid > .error {
    display: block;
    color: #BE0C0C;
}

/* CAR DETAILS STYLE CSS*/

.car-detail-sum {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    align-items: initial;
    justify-content: space-evenly;
}

.details-text-sum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.image-car-detail-container {
    padding: 10px;
    height: 300px;
}

.bi-arrow-left-short, .bi-arrow-right-short {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    color: #0D5B82;
    height: 30px;
    background-color: #fcfcfc;
    border-radius: 50px;
    opacity: 0.8;
}

    .bi-arrow-left-short:hover, .bi-arrow-right-short:hover {
        background-color: #0D5B82;
        color: #fcfcfc;
        transition: 0.5s;
    }

.car-detail-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details-sum {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price-detail-sum {
    color: #0D5B82;
    font-size: 20px;
    text-decoration: underline;
}

.details-text-sum:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 2px solid #0D5B82;
    border-right: 2px solid #0D5B82;
    width: 30%;
    height: 40%;
}

.table-carac div:nth-child(1),
.table-carac div:nth-child(3),
.table-carac div:nth-child(6),
.table-carac div:nth-child(8),
.table-carac div:nth-child(9),
.table-carac div:nth-child(11),
.table-carac div:nth-child(14),
.table-carac div:nth-child(16),
.table-carac div:nth-child(17),
.table-carac div:nth-child(19) {
    background-color: #0D5B82;
    color: #fcfcfc;
}

.bordered-right * {
    border-right: 1px solid #1D100B;
}

.table-carac {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-column-car-details {
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: center;
}

    .grid-column-car-details p {
        margin-bottom: unset;
        margin-bottom: unset;
        padding: 5px;
    }

@media (max-width: 575px) {
    .car-detail-sum {
        grid-template-columns: 1fr;
    }

    .table-carac {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .grid-column-car-details {
        width: 100%;
    }

    .price-detail-sum {
        text-align: end;
        padding-right: 20px;
    }

    .order-first {
        order: -1;
    }

    .table-carac div:nth-child(1),
    .table-carac div:nth-child(3),
    .table-carac div:nth-child(6),
    .table-carac div:nth-child(8),
    .table-carac div:nth-child(9),
    .table-carac div:nth-child(11),
    .table-carac div:nth-child(14),
    .table-carac div:nth-child(16),
    .table-carac div:nth-child(17),
    .table-carac div:nth-child(19) {
        background-color: inherit;
        color: inherit;
    }

    .table-carac div:nth-child(1),
    .table-carac div:nth-child(2),
    .table-carac div:nth-child(5),
    .table-carac div:nth-child(6),
    .table-carac div:nth-child(9),
    .table-carac div:nth-child(10),
    .table-carac div:nth-child(13),
    .table-carac div:nth-child(14),
    .table-carac div:nth-child(17),
    .table-carac div:nth-child(18) {
        background-color: #0D5B82;
        color: #fcfcfc;
    }
}
