html {
    font-size: 14px;
    font-family: 'Source Serif Pro';
    position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fcfcfc;
    color: #1D100B;
}

h1, h2,h3, h4, h5, h6 {
    font-family: "oswald";
}

h2 {
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}
    h2:before {
        content: '';
        display: block;
        border: 1px solid #1D100B;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

h3 {
    font-size:20px;
}

h4 {
    font-size:16px;
}

a {
    color:#1D100B;
}

/*NAVBAR STYLE CSS*/

@media (max-width: 575px) {
    .imageHeaderContainer {
        display:none;
    }
}

navbar {
    color : #fcfcfc;
    margin-bottom:0px;
}

.logo {
    width:70px;
    height:70px;
}

.nav-link {
    color: #0D5B82;
    font-size:16px;
}

.custom-toggler.navbar-toggler {
    border-color: #0D5B82;
}

.nav-link:hover {
    transition: color 0.2s;
    transform: scale(1.03);
    color: #0D5B82
}

.nav-link.active {
   text-decoration: underline;
}

.imageHeaderContainer {
    height:150px;
    width:100%;
}
.imageHeader {
    width: 100%;
    height:100%;
    object-fit: cover
}

/*FOOTER STYLE CSS*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(13, 91, 130, 0.1);
}

.hours-footer {
    border: 1px solid #1D100B;
    padding: 2px;
    margin: 5px;
}

.footer-underline:after {
    font-family: 'Source Serif Pro';
    content: '';
    display: block;
    border: 0.5px solid #1D100B;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: auto;
    margin-left: auto;
}

.underline {
    text-decoration: underline;
    text-underline-offset:3px;
    text-decoration-thickness:2px;
}

.contact-footer > p > a {
    text-decoration: none;
    color: #1D100B;
}

/*HOMEPAGE STYLE CSS*/



