html, pre {
    font-size: 14px;
    font-family: 'Source Serif Pro';
    position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fcfcfc;
    color: #1D100B;
}

section {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "oswald";
}

h2 {
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}
    h2:before {
        content: '';
        display: block;
        border: 1px solid #1D100B!important;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

h3 {
    font-size:20px;
}

h4 {
    font-size:16px;
}

a {
    color:#1D100B;
}

q {
    font-style:italic;
}

.bi-star-fill, .bi-star{
    color: #F9C611;
}

/*NAVBAR STYLE CSS*/
@media (max-width: 575px) {
    .imageHeaderContainer {
        display:none;
    }
}

navbar {
    color : #fcfcfc;
    margin-bottom:0px;
}

.logo {
    width:70px;
    height:70px;
}

.nav-link {
    color: #0D5B82;
    font-size:16px;
    margin-right:5px;
}

.custom-toggler.navbar-toggler {
    border-color: #0D5B82;
}

.nav-link:hover {
    transition: color 0.2s;
    transform: scale(1.03);
    color: #0D5B82
}

.nav-link.active {
   text-decoration: underline;
}

.imageHeaderContainer {
    height:150px;
    width:100%;
}
.imageHeader {
    width: 100%;
    height:100%;
    object-fit: cover
}

/*FOOTER STYLE CSS*/

footer {
    margin-top : 10px;
    width: 100%;
    background-color: rgba(13, 91, 130, 0.1);
}

.hours-footer {
    border: 1px solid #1D100B;
    padding: 2px;
    margin: 5px;
}

.footer-underline {
    text-decoration:none;
}

.footer-underline:after {
    font-family: 'Source Serif Pro';
    content: '';
    display: block;
    border: 0.5px solid #1D100B;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

footer h3{
    text-decoration:underline
}

.contact-footer > p > a {
    text-decoration: none;
    color: #1D100B;
}

/*HOMEPAGE STYLE CSS*/

/*SERVICE SECTION CSS STYLE */

.image-service-container {
    grid-area: image;
}

.service-div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "image text";
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .service-div {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-areas:
            "text";
    }

    .image-service-container {
        display: none;
    }

    .service-title {
        text-align: end;
    }
}

@media (max-width: 992px) {
    .service-div {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
            "image text";
        margin-bottom: 20px;
    }
}

.service-text {
    align-items: center;
    position: relative;
    grid-area: text;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

    .service-text:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-top: 2px solid #0D5B82;
        border-right: 2px solid #0D5B82;
        width: 30%;
        height: 40%;
    }

.service-text h3{
    text-decoration:underline;
}


.image-service-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-text > p {
    text-align: justify;
}


.service-div:nth-child(odd) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "text image";
}

    .service-div:nth-child(odd) .service-text:after {
        right: auto;
        left: 0;
        border-right: none;
        border-left: 2px solid #0D5B82;
    }

    .service-div:nth-child(odd) > .service-text {
        align-items: center;
        position: relative;
        grid-area: text;
        padding-right: 10px;
        padding-left: 30px;
        padding-top: 10px;
    }

/*SECTION REVIEWS STYLE CSS*/


.card-review {
    height:100%;
    width:100%;
}

.reviews {
    background-color: #0D5B82;
}

.reviews h2 {
    color: #fcfcfc;
}

    .reviews h2:before {
        content: '';
        display: block;
        border: 1px solid #fcfcfc !important;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
.card-header {
    background-color: #fcfcfc;
    border:none;
}

.card-body {
    flex-direction: column;
    justify-content: space-between;
    text-indent: 2rem;
    background-color: #fcfcfc;
}


.#carousel-review #wrapper-review {
    max-width: 100%;
    padding: 20px;
    white-space: nowrap;
}
#wrapper-review {
    margin-bottom: 20px;
}

.reviews {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

#wrapper-review {
    width: 100%;
    position: relative;
    padding-right: 20px;
    padding-left: 20px
}

#carousel-review {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

    #carousel-review::-webkit-scrollbar {
        height: 0;
    }

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#content-review {
    gap: 16px;
    margin: auto;
    box-sizing: border-box;
    white-space:nowrap;
    overflow:hidden;

}

.item-review {
    width: 300px;
    height: 200px;
    background: #fcfcfc;
}



