@model IEnumerable<GarageVParrot.ViewModels.HomeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Nos Services</h2>

@*@foreach(var item in Model)
{
    <div class="d-flex">
        <div>
        <img src="" alt="" />
        </div>
        <div class="d-flex flex-column">
        <h3>@item.Service.Title</h3>
        <p>@item.Service.</p>
        </div>
    </div>
}*@
