@model GarageVParrot.ViewModels.HomeViewModel

<h2>Nos Services</h2>

<div class="Services">
	@foreach(Service service in @Model.Services)
	{
		<div class="d-flex servce-div">
			<img class="service-miage" src="@service.Image" alt="Image du service"/>
			<span>
				<h3 class="service-title">@service.Title</h3>
				<p>@service.Description</p>
			</span>
		</div>
	}
</div>