@model GarageVParrot.Models.OpenHours

<h2>Modifier les horaires</h2>

@if (TempData["Message"] != null)
{
    <div class="tempdata-form" style="color: @(TempData["Message"].ToString().Contains("Échec") ? "#BE0C0C" : "#0D5B82")">
        @TempData["Message"]
    </div>
}

<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
        <div class="form-group">
            <label asp-for="MondayOpenHours" class="control-label"></label>
            <input asp-for="MondayOpenHours" class="form-control" />
            <span asp-validation-for="MondayOpenHours" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TuesdayOpenHours" class="control-label"></label>
            <input asp-for="TuesdayOpenHours" class="form-control" />
            <span asp-validation-for="TuesdayOpenHours" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WednesdayOpenHours" class="control-label"></label>
            <input asp-for="WednesdayOpenHours" class="form-control" />
            <span asp-validation-for="WednesdayOpenHours" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ThursdayOpenHours" class="control-label"></label>
            <input asp-for="ThursdayOpenHours" class="form-control" />
            <span asp-validation-for="ThursdayOpenHours" class="text-danger"></span>
        </div>
        </div>
        <div>
        <div class="form-group">
            <label asp-for="FridayOpenHours" class="control-label"></label>
            <input asp-for="FridayOpenHours" class="form-control" />
            <span asp-validation-for="FridayOpenHours" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SaturdayOpenHours" class="control-label"></label>
            <input asp-for="SaturdayOpenHours" class="form-control" />
            <span asp-validation-for="SaturdayOpenHours" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SundayOpenHours" class="control-label"></label>
            <input asp-for="SundayOpenHours" class="form-control" />
            <span asp-validation-for="SundayOpenHours" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" value="Modifier" class="send mb-2">Modifier</button>
        </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
