@model GarageVParrot.ViewModels.EditServiceViewModel

<h2>Modifier un service</h2>

<div class="return-index-div">
    <a class="return-index" asp-action="Index">Retour à la liste</a>
</div>


<div class="row">
    <div class="col-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" id="UserId" name="UserId" asp-for="UserId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titre</label>
                <input asp-for="Title" class="form-control" placeholder="Titre"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control" name="file" placeholder="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="send" value="Modifier">Modifier</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: 'textarea',
            content_css: "CUSTOM",
            skin: 'CUSTOM',
            plugins: 'anchor emoticons table visualblocks wordcount',
            toolbar: 'undo redo | bold italic underline strikethrough | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}
